<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>


</head>
<body>
<div class="collapse navbar-collapse" id="navbarNav">
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'deposit' %}">Deposit Money</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'withdraw' %}">Withdraw Money</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="calculatorDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Financial Tools
        </a>
        <ul class="dropdown-menu" aria-labelledby="calculatorDropdown">
            <li><a class="dropdown-item" href="{% url 'emi' %}">EMI Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'sip' %}">SIP Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'fd' %}">FD Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'rd' %}">RD Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'estimate' %}">Retirement Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'home_loan_estimator_view' %}">Home_Loan Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'credit_card_interest_view' %}">Credit Card Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'taxable' %}">Tax Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'simple_budget_planner_view' %}">Budget Calculator</a></li>
            <li><a class="dropdown-item" href="{% url 'net_worth_view' %}">Net Worth Calculator</a></li>
        </ul>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'loan_form_page' %}">Loan amount estimation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    </li>
    </li>
</ul>
</div>



<h2 class="text-center mb-4">Withdraw Money</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn" style="background-color: #003366; color: white;">Withdraw</button>
</form>
<div class="text-center mt-3">
    <a href="{% url 'dashboard' %}" class="text-decoration-none">Back to Dashboard</a>
</div>

</body>
</html>
